header {
	padding: .5em .75em;
	background-color: #b2d8ff;
}

body {
  background-color: #2a2a2a;
}

nav .absolute {
    position: absolute;
    bottom: 80px;
    color: #fff;
    background: rgba(0,0,0,.6);
    width: 100%;
    max-width: 2560px;
    padding: 1em 0;
}
.absolute p {
    margin: 0;
    padding: 0 0.8em;
    font-size: 150%;
    text-align: center;
}
nav ul li {
  margin: 0 30px;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  color: #999;
  font-weight: bold;
}   

span.white {
  color: white;
}